.root {
    background-color: #f9f9f9;
    min-height: 100vh;
    width: 100%;
}

.main {
    padding: 50px 0;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.link {
    text-decoration: underline !important;
    color: #f67280 !important;
}

.title {
    color: #35477d;
    font-weight: bold;
    margin-bottom: 25px;
}

.addButton {
    color: #fff;
    background-color: #f67280;
    border-color: #f67280;
}

.addButton:hover {
    color: #eee;
    background-color: #e36875;
    border-color: #f67280;
}